<script setup>
const props = defineProps({
  task: {
    type: Object,
    required: true
  }
})
const emits = defineEmits(['detail', 'status', 'delete'])
</script>
s
<template>
  <v-card class="pa-4">
    <div class="d-flex justify-space-between">
      <div class="d-flex">
        <p class="mr-6">{{ props.task?.weight ?? '...' }}</p>
        <p>{{ props.task?.title ?? '...' }}</p>
      </div>
      <div class="d-flex justify-space-between">
        <v-btn color="info" @click="emits('detail', props.task.id)">detail</v-btn>
        <v-btn color="primary" @click="emits('status', props.task.id)" class="mx-4">{{
          props.task.status == 'TODO' ? 'TODO' : 'DONE'
        }}</v-btn>
        <v-btn color="red" @click="emits('delete', props.task.id)">Delete</v-btn>
      </div>
    </div>
  </v-card>
</template>
