<script setup>
import { ref } from 'vue'
import CounterElm from '@/components/Common/CounterElm.vue'

const emits = defineEmits(['task'])

const title = ref('')
const description = ref('')
const weight = ref(0)

function setTask() {
  const task = {
    id: crypto.randomUUID(),
    title: title.value,
    description: description.value,
    weight: weight.value,
    status: 'TODO',
    created: new Date().getTime(),
    closed: null
  }
  emits('task', task)
  initState()
}

function initState() {
  title.value = ''
  description.value = ''
  weight.value = 0
}
</script>

<template>
  <v-sheet width="300">
    <v-form fast-fail @submit.prevent>
      <v-text-field
        v-model="title"
        label="Titre de la tâche"
        :rules="[(v) => v.length > 1 || 'Task name required and more than 1 character']"
      ></v-text-field>

      <v-textarea label="Description" v-model="description"></v-textarea>
      <CounterElm @counter="(evt) => (weight = evt)"></CounterElm>
      <v-btn type="submit" block class="mt-2" @click="setTask">Submit</v-btn>
    </v-form>
  </v-sheet>
</template>
