<template>
  <main>
    <h1>Home page</h1>
    <ol>
      <li>install vuetify package: <code>npm i vuetify</code></li>
      <li>Register vuetify in main.js file</li>
      <li>Update layout in App.vue</li>
      <li>Install icons: <code>npm install @mdi/font -D</code></li>
      <li>Update v-app-bar with button, icons ...</li>
      <li>Bind drawer to show hide navigation</li>
      <li>Add table view</li>
    </ol>
  </main>
</template>
