<script setup>
import ToDoForm from '@/components/TodoList/ToDoForm.vue'
import ToDoItem from '@/components/TodoList/ToDoItem.vue'

import { useTaskStore } from '@/stores/task'

const taskStore = useTaskStore()
</script>

<template>
  <h1>To do simple</h1>
  <ToDoForm @task="taskStore.addTask"></ToDoForm>
  <div class="mt-12">
    <ToDoItem
      v-for="task in taskStore.todoList"
      :key="task.id"
      :task="task"
      @detail="setDetail"
      @status="switchStatus"
      @delete="deteleTask"
      class="my-2"
    ></ToDoItem>
  </div>
</template>
