<script setup>
import { ref } from 'vue'
import ToDoForm from '@/components/TodoList/ToDoForm.vue'
import ToDoItem from '@/components/TodoList/ToDoItem.vue'

const todoList = ref([])
const taskDetail = ref(null)

function addTask(task) {
  todoList.value.push(task)
}

function setDetail(taskId) {
  taskDetail.value = todoList.value.find((elm) => elm.id == taskId) || null
}

function switchStatus(taskId) {
  const idxMatch = todoList.value.findIndex((elm) => elm.id == taskId)

  if (idxMatch >= 0) {
    const newStatus = todoList.value[idxMatch] == 'TODO' ? 'TODO' : 'DONE'
    todoList.value[idxMatch].status = newStatus
    todoList.value[idxMatch].closed = new Date().getTime()
  }
}

function deteleTask(taskId) {
  const idxMatch = todoList.value.findIndex((elm) => elm.id == taskId)
  if (idxMatch >= 0) {
    todoList.value = todoList.value.filter((elm) => elm.id !== taskId)
  }
}
</script>

<template>
  <h1>To do simple</h1>
  <ToDoForm @task="addTask"></ToDoForm>
  <div class="mt-12">
    <ToDoItem
      v-for="task in todoList"
      :key="task.id"
      :task="task"
      @detail="setDetail"
      @status="switchStatus"
      @delete="deteleTask"
      class="my-2"
    ></ToDoItem>
  </div>
</template>
