<script setup>
import { ref } from 'vue'

const props = defineProps({
  min: {
    type: Number,
    default: 0
  },
  max: {
    type: Number,
    default: 10
  }
})

const emits = defineEmits(['counter'])
const counter = ref(0)

function add() {
  if (counter.value < props.max) {
    counter.value++
    emits('counter', counter.value)
  }
}
function sub() {
  if (counter.value > props.min) {
    counter.value--
    emits('counter', counter.value)
  }
}
</script>

<template>
  <div class="d-flex">
    <v-btn class="mr-6" @click="sub">Sub</v-btn>
    <p>{{ counter }}</p>
    <v-btn class="ml-6" @click="add">Add</v-btn>
  </div>
</template>
