<script setup>
import { RouterLink, RouterView } from 'vue-router'
import { ref } from 'vue'

const drawer = ref(true)
</script>

<template>
  <v-layout class="rounded rounded-md">
    <v-app-bar title="My application">
      <template v-slot:prepend>
        <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
      </template>

      <template v-slot:append>
        <v-btn elevation="4" class="mr-2">login</v-btn>
        <v-btn icon="mdi-dots-vertical"></v-btn>
      </template>
    </v-app-bar>

    <v-navigation-drawer v-model="drawer">
      <v-list>
        <v-list-item><RouterLink to="/">Home</RouterLink></v-list-item>
        <v-list-item><RouterLink to="/about">About</RouterLink></v-list-item>
        <v-list-item><RouterLink to="/table">Table</RouterLink></v-list-item>
        <v-list-item><RouterLink to="/todo">Todo Simple</RouterLink></v-list-item>
        <v-list-item><RouterLink to="/todostore">Todo Store</RouterLink></v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-main class="ma-12" style="min-height: 300px">
      <RouterView />
    </v-main>
  </v-layout>
</template>
